version: "3.5"

services:
  manager:
    image: bulbawarrior/serving-manager:726e6af16dc349986e1b20e1a728ab55b8c56ae9
    container_name: manager
    ports:
      - "19090:9090"
      - "19091:9091"
    depends_on:
      - postgres
    networks:
      - hydronet
      - extnet
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
