version: "3.5"

services:
  manager:
    image: bulbawarrior/serving-manager:6b78e38444449128dda2f809717ee6332d6eb092
    container_name: manager
    ports:
      - "19090:9090"
      - "19091:9091"
    depends_on:
      - postgres
    networks:
      - hydronet
      - extnet
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
